{% extends 'base.html' %}

{% block title %}详情{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/detail.css')}}">

{% endblock %}

{% block main %}
    <h3 class="page-title">{{article.title}}</h3>
    <p class="question-info">
        <span>作者：{{article.author.username}}</span>
        <span>时间：{{article.create_time}}</span>
    </p>
    <hr>
    <p class="question-content">
        {{article.content}}
    </p>
    <hr>
    <h4>评论</h4>
<form action="{{url_for('comment')}}" method="post">
    <div class="form-group">
        <input name='comment_content' type="text" class="form-control" placeholder="请填写评论">
        <input type="hidden" name="article_id" value="{{article.id}}">
    </div>
    <div class="form-group" style="text-align: right;">
        <button class="btn btn-primary">立即评论</button>
    </div>
</form>
<ul class="answer-list">
    {% for comment in article.comment %}
    <li>
        <div class="user-info">
            <img src="{{url_for('static',filename='images/xiaoniao.jpg')}}" alt="" class="avatar">
            <span class="username">{{comment.author.username}}</span>
            <span class="create-time">{{comment.create_time}}</span>
        </div>
        <p class="answer-content">{{comment.content}}</p>
    </li>
    <hr>
    {% endfor %}
</ul>


{% endblock %}

